* {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: bold;
}

header {
    background-color: #fff;
}

nav .nav-item .nav-link.active {
    color: #fff;
    padding: 10px;
}
nav .nav-item .nav-link {
    color: black;
}

.font-text {
    font-family: "Bakbak One", sans-serif;
    font-weight: 500;
    font-style: normal;
}

footer{
    background: linear-gradient(to bottom, #ffffff, #9fcbf7);
}

 /* Define o texto centralizado */

@media (max-width: 500px) {
        #cabecalho .container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
}
